**/_build
**/deps
.elixir_ls
.git
.github
metaanalysis
priv/acs_memory
priv/static
test
tmp
node_modules
certs
docker/*
!docker/entrypoint.sh
scripts
guides
site
plans
*.md
!README.md
.env
.env.*
*.log
docker-compose*.yml
Dockerfile
